.card-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 255, 254);
    border: 3px solid grey;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

h3 {
    background-color:rgb(214, 255, 254);
    font-family: "Tahoma";
    font-size: 14px;
}

.pokeimg {
    background-color:rgb(214, 255, 254);
    width: 80px;
    height: 80px;
    margin: auto;
}