* {
  box-sizing: border-box;
  margin: 0px;
}

Body {
  background-color: rgba(166, 248, 245, 0.979);
}

h1 {
  text-align: center;
  margin: 80px 20px 20px 20px;
  padding: 10px;
  font-family:'Malgun Gothic';
  font-size: 30px;
}

.main-nav {
  margin: 0px 5px;
  color: black;
}

.main-nav:hover{
  text-decoration: none;
  color: darkblue;
}

.main-nav-active {
  color: red;
  font-weight: bold;
}